{% extends 'base.html' %}
{% load static %}

{% block title %}Word Clouds{% endblock %}

{% block content %}
    <h2>Word Clouds</h2>
    <button class="btn btn-primary" onclick="generate()">Generate Word Clouds</button>
    <script>
        function generate() {
            const Http = new XMLHttpRequest();
            const url = '{% url 'charts:generate_word_cloud' %}';
            Http.open("GET", url);
            Http.send();

            Http.onreadystatechange = (e) => {
                location.reload();
            }
        }
    </script>
    <div>
        <h3>Course Descriptions</h3>
        <img src="{% static 'wc.png' %}"/>
    </div>
    <div>
        <h3>Learning Goals</h3>
        <img src="{% static 'wc_lg.png' %}"/>
    </div>
{% endblock %}