{% extends 'base.html' %}

{% block title %}Courses{% endblock %}

{% block content %}
    <h2>Courses</h2>

    <div class="mb-3">
        <button class="btn btn-primary" onclick="window.location.href = '{% url 'course:list_view' %}?my_courses=true'">
            My Courses
        </button>
        <button class="btn btn-primary" onclick="window.location.href = '{% url 'course:list_view' %}'">All Courses
        </button>

        <button class="btn btn-primary float-right" onclick="window.location.href = '{% url 'course:add' %}'">Add
            Course
        </button>

    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Code</th>
            <th scope="col">University</th>
            <th scope="col">Details</th>
            <th scope="col">Edit</th>
            <th scope="col">Report</th>
        </tr>
        </thead>
        <tbody>
        {% for course in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ course.name }}</td>
                <td>{{ course.code }}</td>
                <td>{{ course.university.short_name }}</td>
                <td>
                    <button class="btn btn-primary"
                            onclick="window.location.href='{% url 'course:detail_view' course.pk %}'">details
                    </button>
                </td>

                <td>
                    {% if course.editable %}
                        <button class="btn btn-warning"
                                onclick="window.location.href='{% url 'course:update' course.pk %}'">edit
                        </button>
                    {% else %}
                        <button class="btn btn-warning" disabled title="You Cannot Edit This Course"
                                onclick="window.location.href='{% url 'course:update' course.pk %}'">edit
                        </button>
                    {% endif %}
                </td>

                <td>
                    <button class="btn btn-danger" disabled title="Temporarily Disabled">report</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}