{% extends 'base.html' %}
{% load static %}

{% block title %}Charts{% endblock %}

{% block content %}
    <h2>Word Clouds</h2>
    <button class="btn btn-primary" onclick="generate()">Generate Charts</button>
    <script>
        function generate() {
            const Http = new XMLHttpRequest();
            const url = '{% url 'generate_charts' %}';
            Http.open("GET", url);
            Http.send();

            Http.onreadystatechange = (e) => {
                location.reload();
            }
        }
    </script>
    <div>
        <h3>Year Histogram Chart</h3>
        <img src="{% static 'year_hist.png' %}"/>
    </div>
    <div>
        <h3>University Pie</h3>
        <img src="{% static 'uni_pie.png' %}"/>
    </div>
{% endblock %}