{% extends 'base.html' %}

{% block title %}Messages{% endblock %}

{% block content %}
    <h2>Your Messages</h2>

    <div class="mb-3">
        <button class="btn btn-primary">
            Unread Messages
        </button>
        <button class="btn btn-primary">
            All Messages
        </button>

        <button class="btn btn-primary float-right">
            Send a Message
        </button>

    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Sender</th>
            <th scope="col">Message</th>
            <th scope="col">Read</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for message in object_list %}
            <tr class="col">
                <th scope="row" style="width: 3%">{{ forloop.counter }}</th>
                <td style="width: 10%">{{ message.sender }}</td>
                <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 70%; max-width: 10px">{{ message.message }}</td>
                <td style="width: 10%">
                    <button class="btn btn-primary"
                            onclick="window.location.href='{% url 'message:detail' %}?message={{ message.id }}'">
                        read
                    </button>
                </td>
                <td style="width: 10%">
                    <script>
                        function del{{ forloop.counter0 }}() {
                            $.get('{% url 'message:delete' %}', {message:{{message.pk}}}, function(){
                               location.reload();
                            });
                        }
                    </script>
                    <button class="btn btn-danger" onclick="window.del{{ forloop.counter0 }}()">delete
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}