{% extends 'base.html' %}
{% load static %}

{% block title %}Charts{% endblock %}



{% block content %}

    <h2>Charts</h2>
    
    <button id="b_year_hist" class="btn btn-primary">year histogram</button>
    <button id="b_terms_hist" class="btn btn-primary">term histogram</button>
    <br><br>

    <div style="display: none;" id="b_secondary">
        <button id="b_piechart" class="btn btn-secondary">pie chart</button>
        <button id="b_barchart" class="btn btn-secondary">bar chart</button>
    </div>

    <br>
    Size: <input id="size_input" type="number" min='0'>
    <br><br>
    
    <canvas id="chart-content" width="150px" height="80px"></canvas>
    <br>
    <br>
    
    <p style="display: none;" id='terms_link'>/charts/terms/frequency/</p>
    <p style="display: none;" id='years_link'>/charts/years/frequency/</p>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="{% static "scripts/charts.js" %}"></script>



    <div id="dashboard_div">
        <div id="filter_div"></div>
        <div id="chart_div"></div>
    </div>




    <h2>Word Clouds</h2>
    <button class="btn btn-primary" onclick="generate()">Generate Charts</button>
    <script>
        function generate() {
            const Http = new XMLHttpRequest();
            const url = '{% url 'generate_charts' %}';
            Http.open("GET", url);
            Http.send();

            Http.onreadystatechange = (e) => {
                location.reload();
            }
        }
    </script>
    <div>
        <h3>Year Histogram Chart</h3>
        <img src="{% static 'year_hist.png' %}"/>
    </div>
    <div>
        <h3>University Pie</h3>
        <img src="{% static 'uni_pie.png' %}"/>
    </div>
{% endblock %}