{% extends 'base.html' %}

{% block title %}Universities{% endblock %}

{% block content %}
    <h2>Universities</h2>

    <button class="btn btn-primary" onclick="window.location.href = '{% url 'add_university' %}'">Add University</button>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Short Name</th>
            <th scope="col">Details</th>
            <th scope="col">Edit</th>
            <th scope="col">Report</th>
        </tr>
        </thead>
        <tbody>
        {% for uni in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ uni.name }}</td>
                <td>{{ uni.short_name }}</td>
                <td><button class="btn btn-primary" onclick="window.location.href='{% url 'university_detail_view' uni.pk %}'">details</button></td>
                <td><button class="btn btn-warning">edit</button></td>
                <td><button class="btn btn-danger" disabled title="Temporarily Disabled">report</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}